/* ===== COMMON BUTTON ===== */

.custom-btn {
  border: none;
  outline: none;

  padding: 10px 22px;
  border-radius: 25px;

  font-weight: 600;
  cursor: pointer;

  transition: 0.3s ease;
}

/* Navbar btn */
.navbar-btn {
  padding: 6px 14px;
  font-size: 13px;
}
/* ===== PRIMARY BUTTON ===== */

.primary {
  background-color: #D4AF37;
  color: black;
}

.primary:hover {
  background-color: #f1c94b;
  transform: translateY(-2px);
}

/* ===== SECONDARY BUTTON ===== */

.secondary {
  background-color: transparent;
  color: #D4AF37;

  border: 1px solid #D4AF37;
}

.secondary:hover {
  background-color: #D4AF37;
  color: black;

  transform: translateY(-2px);
}