* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.packages-section {
    background-color: #f9f7f5;
    padding: 60px 20px;
}

.packages-header {
    text-align: center;
    padding: 60px 20px;
}

.packages-header h6 {
    font-family: "poppins", sans-serif;
    color: #e4a541;
}

.packages-header h1 span{
    color: #e4a541;
}

.packages-header h1{
    font-size: 40px;
}

.packages-header p{
    color:#7c8386;
}

.packages-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.package-card{
    width: 280px;
    height: 430px;
    border:none;
    border-radius: 10px;
    background-color: #f3f1ef;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;
}

.package-card h3{
    font-size: 28px;
    margin-left: 10px;
    margin-top: 10px;
}

.package-card p{
    margin-left: 10px;
    color:#383838;
}

.package-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.package-list-item p{
    font-size: 14px;
    color: #050606;
}

.package-footer{
    align-items: center;
}

.enquire-now {
    background-color: goldenrod;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 90%;
    height: 50px;
    margin-left: 15px;
    transition: all 0.4s ease;
}

.whatsapp {
    width: 30px;
    height: 30px;
}

.enquire-now:hover{
    transform: translateY(-2px);
    background-color: #e4a541;
}

.package-card:hover{
    transform: translateY(-8px);
}