* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-section {
    padding: 50px 20px;
    background: #f9f7f5;
    font-family: poppins, sans-serif;
}

.about-container {
    max-width: 1200px;
    margin: auto;
}

/* Top Section */

.about-top {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.about-image {
    position: relative;
    width: auto;
    height: 500px;
    margin: 20px auto;
    flex: 1;
}

.picture{
    position: absolute;
    width: 300px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.2);
    border: 8px solid white;
}

.picture1{
    top: 70px;
    left: -80px;
    right: 10px;
    transform: rotate(-5deg);
    z-index: 1;
}

.picture2{
    top: 120px;
    right: 70px;
    transform: rotate(6deg);
    z-index: 2;
}

.picture3{
    top: 250px;
    left: 30%;
    right: 10px;
    transform: translateX(-50%) rotate(5deg);
    z-index: 3;
}

.about-content {
    flex: 1; /* seperate the flex evenly  between the image and the content */
}

.about-content h1 {
    margin-bottom: 10px;
    color: #00D4AA;
    font-size: 35px;
}

.about-content p {
    color: #123A2F;
    line-height: 1.8;
    margin-bottom: 18px;
}

/* Features */

.features {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-left: 40px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.feature-item span {
    color: #00D4AA;
    font-size: 24px;
}


.feature-item p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

/* Bottom Cards */

.about-bottom {
    gap: 20px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    flex-wrap: wrap;
    transition: all 0.4s ease;
    width: 80%;
    margin:0 auto;
    color: #f9f7f5;
    background-color: #0B1F3B;
}

.about-bottom:hover{
    transform: translateY(-8px);
}

.vision{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.info-card {
    flex: 1;
    padding-left: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
}

.info-card h3 {
    font-size: 30px;
    width: 90%;
}

.info-card p {
    color: #123A2F;
    line-height: 1.6;
    width: 90%;
}

.info-card .icon1 {
    font-size: 40px;
    color: #00D4AA;
}


.info-card1 {
    flex: 1;
    padding-left: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
}

.info-card1 h3 {
    font-size: 30px;
    width: 90%;
}

.info-card1 p {
    color: #123A2F;
    line-height: 1.6;
    width: 90%;
}

.info-card1 .icon2 {
    font-size: 40px;
    color: #00D4AA;
}

/*Tablet View*/

@media (max-width: 1024px) {

    .about-top {
        flex-direction: column;
    }

    .about-image {
        width: 100%;
        height: 450px;
    }

    .about-content{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .picture {
        width: 250px;
        height: 200px;
    }

    .picture1 {
        left: 10%;
    }

    .picture2 {
        right: 10%;
    }

    .picture3 {
        left: 50%;
    }

    .vision {
        flex-direction: column;
        gap: 20px;
    }

    .features {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
    }

    .feature-item {
        width: 45%;
    }

    .about-bottom {
        width: 95%;
        margin: 0 auto;
    }
}


/* Mobile View*/

@media (max-width: 768px) {

    .about-section {
        padding: 40px 15px;
    }

    .about-top {
        flex-direction: column;
        gap: 20px;
    }

    .about-image {
        height: 350px;
        width: 100%;
    }

    .picture {
        width: 180px;
        height: 140px;
    }

    .picture1 {
        top: 20px;
        left: 0;
    }

    .picture2 {
        top: 60px;
        right: 0;
    }

    .picture3 {
        top: 170px;
        left: 50%;
    }

    .about-content {
        text-align: center;
    }

    .about-content h1 {
        font-size: 30px;
    }

    .about-content p {
        font-size: 14px;
    }

    .vision {
        flex-direction: column;
        gap: 20px;
    }

    .info-card,
    .info-card1 {
        width: 100%;
        padding: 20px;
    }

    .info-card h3,
    .info-card1 h3 {
        font-size: 22px;
    }

    .features {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .feature-item {
        width: 100%;
        justify-content: flex-start;
    }

    .about-bottom {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
}