.footer {
    background: #0B1F3B;
    color: #ffffff;
    padding: 60px 80px;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1.2fr;
    gap: 25px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 0.9;
    min-width: 200px;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background: white;
    border-radius: 50%;
    padding: 5px;
}

.company-info h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #00D4AA;
    font-family: "Great Vibes", cursive;
}

.company-info span {
    color: #00D4AA;
    font-size: 14px;
    font-weight: 500;
}

.description {
    color: #d9d9d9;
    line-height: 1.8;
    margin-bottom: 20px;
    max-width: 320px;
}

.contact-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.contact-icons svg {
    font-size: 22px;
    color: #00D4AA;
    cursor: pointer;
    transition: 0.3s;
}

.contact-icons svg:hover {
    transform: translateY(-5px);
    color: white;
}

.footer-section h3 {
    color: #00D4AA;
    margin-bottom: 20px;
    font-size: 22px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 14px;
    color: #e5e5e5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-section ul li:hover {
    color: #00D4AA;
    padding-left: 6px;
}

.contact-info li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 18px;
    line-height: 1.7;
}

.contact-info svg {
    color: #00D4AA;
    font-size: 18px;
    margin-top: 4px;
    flex-shrink: 0;
}

/* Bottom section */

.footer-bottom {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.15);
    margin-top: 40px;
    padding-top: 20px;
    color: #cccccc;
    font-size: 14px;
}

/* tablet screen */

@media (max-width: 992px) {

    .footer {
        padding: 50px 40px;
        gap: 40px;
    }

    .footer-section {
        min-width: 300px;
    }
}

/* Responsive */

@media (max-width: 768px) {

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 40px 25px;
    }

    .logo-box {
        justify-content: center;
    }

    .description {
        max-width: 100%;
    }

    .contact-icons {
        justify-content: center;
    }

    .contact-info li {
        justify-content: center;
        text-align: center;
    }

    .footer-section h3 {
        margin-top: 15px;
    }
}