.gallery-section {
    background-color: #f9f7f5;
    padding: 60px 20px;
}

.gallery-header {
    text-align: center;
    padding-bottom: 40px;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    display: flex;
    gap: 20px;
    width: 1200px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.gallery-image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    flex-shrink: 0;
    object-fit: cover;
}

.button-gallery {
    background-color: #E4A541;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}
